---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostList from '../../../components/PostList.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    const tags = [...new Set(posts.flatMap(p => p.data.tags))];
    return tags.map(tag => ({
        params: { tag },
        props: {
            posts: posts
                .filter(p => p.data.tags.includes(tag))
                .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
        },
    }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
    <h1>{tag}</h1>
    <PostList posts={posts} variant="full" showFilter={false} />
</BaseLayout>
